* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
.GPU {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
html,
body {
  height: 100%;
}
body {
  font-size: 0.625vw;
  min-width: 83.333333vw;
  min-height: 49.166667vw;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(306deg, #2d3037 0%, #171a1f 100%);
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Bold.otf') format('opentype');
}

.header {
  width: 100%;
  height: 2.708333vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.645833vw;
  z-index: 3;
}
.header .logo {
  width: 8.333333vw;
  height: 1.458333vw;
}
.header .btnBox {
  display: flex;
  align-items: center;
}
.header .btnBox .btn {
  cursor: pointer;
  background: #33373f;
  border-radius: 0.15625vw;
  padding: 0.3125vw 1.09375vw;
  margin-left: 1.354167vw;
}
.header .btnBox .btn.noBg {
  background: transparent;
  display: none;
}
.header .btnBox .btn:active {
  background: linear-gradient(
    179deg,
    #111315 0%,
    rgba(17, 19, 21, 0) 100%,
    rgba(17, 19, 21, 0) 100%
  );
}
.header .btnBox .btn:active a {
  color: rgba(255, 255, 255, 0.8);
}
.header .btnBox .btn a {
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 0.885417vw;
  text-decoration: none;
}
.scrollHiddenBox {
  height: 49.166667vw;
}
.main .base {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(306deg, #2d3037 0%, #171a1f 100%);
  perspective: 41.666667vw;
}
.main .base .bgLeftSlice {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #1a1d24;
}
.main .base .BigTitle {
  position: absolute;
  right: -2.604167vw;
  top: 0.78125vw;
  font-size: 16.666667vw;
  font-family: DINPro-Black, DINPro;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
  letter-spacing: 0.520833vw;
  opacity: 0.1;
  z-index: 1;
}
/* .main .base .anime {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 24.375vw;
  height: 26.145833vw;
  overflow: hidden;
  background: url('./images/a1.png') no-repeat center;
  background-size: contain;
} */
#iframeCanvas {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.3s linear;
}
.main .base .scrollTitle {
  position: absolute;
  left: 3.645833vw;
  bottom: 8.854167vw;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
  opacity: 0.5;
}
.main .base .scrollTitle:after {
  content: '';
  display: inline-block;
  width: 2.708333vw;
  height: 0.052083vw;
  background: #ffffff;
  margin-left: 0.729167vw;
}
.main .scrollBtn {
  position: fixed;
  right: 3.645833vw;
  bottom: 2.708333vw;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.main .scrollBtn .up {
  cursor: pointer;
  width: 1.458333vw;
  height: 1.458333vw;
  margin-bottom: 1.822917vw;
}
.main .scrollBtn .down {
  cursor: pointer;
  width: 1.458333vw;
  height: 1.458333vw;
}
.main > .context {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
/* .main > .context > div {
  height: 100%;
} */
.main .onePage .features {
  position: absolute;
  left: 0;
  top: 14.375vw;
  padding: 2.708333vw 0 0 3.645833vw;
  width: 30.208333vw;
}
.main .onePage .features .bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 17.5vw;
  height: 12.34375vw;
  background: #2a2d34;
}
.main .onePage .features .title {
  font-size: 2.1875vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 3.072917vw;
  letter-spacing: 0.15625vw;
}
.main .onePage .features .intro {
  font-size: 0.625vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.25vw;
  margin-top: 1.25vw;
}
.main .onePage .quick {
  position: absolute;
  right: 0;
  bottom: 12.03125vw;
  padding: 2.708333vw 3.645833vw 0 0;
  width: 30.208333vw;
}
.main .onePage .quick .bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 26.875vw;
  height: 11.666667vw;
  background: #1a1d24;
}
.main .onePage .quick .title {
  font-size: 2.1875vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 3.072917vw;
  letter-spacing: 0.15625vw;
}
.main .onePage .quick .intro {
  width: 16.822917vw;
  font-size: 0.625vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.25vw;
  margin-top: 0.572917vw;
}
.main .onePage .quick .button {
  cursor: pointer;
  margin-left: 2.708333vw;
  width: 6.875vw;
  height: 2.1875vw;
  background: #00b8c4;
  box-shadow: 0vw 0.104167vw 0.885417vw 0vw rgba(17, 19, 21, 1);
  border-radius: 0.15625vw;
  font-size: 0.625vw;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.885417vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoPage {
  position: fixed;
  left: 14.895833vw;
  top: 10.364583vw;
  width: 81.666667vw;
  height: 100%;
  transform: translateY(200%);
  opacity: 0;
}
.twoPage .topTitle {
  font-size: 0.885417vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.25vw;
}
.twoPage .topLine {
  width: 8.177083vw;
  height: 0.104167vw;
  background: #ffffff;
  margin-top: 6.666667vw;
  opacity: 0.1;
}
.twoPage .bgTitle {
  position: absolute;
  left: -20.833333vw;
  top: 0.520833vw;
  z-index: -1;
  font-size: 22.760417vw;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  line-height: 29.375vw;
  opacity: 0.1;
}
.twoPage .textBox {
  margin-top: 3.645833vw;
  position: relative;
}
.twoPage .textBox .number {
  position: absolute;
  left: -5.729167vw;
  top: 0;
  z-index: 1;
  font-size: 2.1875vw;
  font-family: DINPro-Regular, DINPro;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.760417vw;
  letter-spacing: 0.052083vw;
}
.twoPage .textBox .title {
  font-size: 2.1875vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 3.072917vw;
}
.twoPage .textBox .intro {
  font-size: 0.625vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.25vw;
  margin-top: 1.09375vw;
}
.twoPage .oneBox {
  transform: translateY(100%);
  opacity: 0;
}
.twoPage .twoBox {
  transform: translateY(100%);
  opacity: 0;
}
.twoPage .threeBox {
  transform: translateY(100%);
  opacity: 0;
}

.threePage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  padding-top: 6.71875vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  perspective: 41.666667vw;
}
.threePage .bgTitle {
  position: absolute;
  left: 50%;
  top: 2.447917vw;
  transform: translateX(-50%);
  font-size: 9.114583vw;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  line-height: 11.71875vw;
  letter-spacing: 0.729167vw;
  opacity: 0.1;
}
.threePage > .title {
  font-size: 2.1875vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 3.072917vw;
  letter-spacing: 0.15625vw;
  text-align: center;
}
.threePage > .intro {
  width: 32.239583vw;
  height: 3.802083vw;
  margin-top: 0.729167vw;
  font-size: 0.625vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25vw;
  text-align: center;
}
.threePage .boxList {
  margin-top: 0.364583vw;
  display: flex;
  width: 65.625vw;
  flex-wrap: wrap;
}
.threePage .boxList .box {
  width: 31.875vw;
  height: 12.760417vw;
  border-radius: 0.885417vw;
  margin-top: 1.822917vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0.3);
}
.threePage .boxList .box:nth-child(2n) {
  margin-left: 1.822917vw;
}
.threePage .boxList .box:hover .bg2 {
  box-shadow: 0vw 0.520833vw 1.979167vw 0vw rgba(12, 14, 16, 1);
  animation: bg2Animation 0.2s linear;
  animation-fill-mode: forwards;
}
/* .threePage .boxList .box:hover {
} */
.threePage .boxList .box .bg1 {
  position: absolute;
  left: 0.052083vw;
  top: 0.052083vw;
  z-index: -1;
  width: calc(100% - 0.104167vw);
  height: calc(100% - 0.104167vw);
  border-radius: 0.885417vw;
  background: #33373f;
}
.threePage .boxList .box .bg2 {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.885417vw;
  z-index: -2;
  width: 100%;
  height: 100%;
}
@keyframes bg2Animation {
  10% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  40% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.3),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  60% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.6),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  85% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.8),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  100% {
    background: linear-gradient(
        145deg,
        rgba(0, 232, 255, 1),
        rgba(0, 101, 103, 0.22),
        rgba(0, 101, 103, 0.22)
      ),
      linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.16),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
  }
}
.threePage .boxList .box .title {
  font-size: 1.09375vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.510417vw;
}
.threePage .boxList .box .intro {
  width: 23.645833vw;
  margin-top: 0.520833vw;
  font-size: 0.625vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.25vw;
  text-align: center;
}

.fourPage {
  transform: translateY(100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 41.666667vw;
}
.fourPage .leftBox {
  width: 28.489583vw;
  height: 17.708333vw;
  background: linear-gradient(147deg, #41464f 0%, rgba(42, 44, 51, 0) 100%);
  box-shadow: 0vw 0.104167vw 2.447917vw 0vw rgba(16, 18, 22, 1);
  border-radius: 0.520833vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(90deg);
  opacity: 0;
}
.fourPage .leftBox .title {
  width: 16.71875vw;
  height: 3.072917vw;
  font-size: 2.1875vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 3.072917vw;
  letter-spacing: 0.15625vw;
}
.fourPage .leftBox .intro {
  width: 20.052083vw;
  height: 5.104167vw;
  font-size: 0.625vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.25vw;
  margin-top: 1.614583vw;
}
.fourPage .rightBox {
  margin-left: 3.020833vw;
  position: relative;
}
.fourPage .rightBox .bgTitle {
  position: absolute;
  left: 0;
  top: -9.375vw;
  z-index: -1;
  font-size: 9.114583vw;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  opacity: 0.1;
  line-height: 11.71875vw;
  letter-spacing: 0.729167vw;
}
.fourPage .rightBox .title {
  font-size: 2.1875vw;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 3.072917vw;
  letter-spacing: 0.15625vw;
  text-align: center;
  margin-bottom: 2.1875vw;
}
.fourPage .rightBox .intro {
  font-size: 0.625vw;
  width: 37.604167vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25vw;
  text-align: center;
}
.fourPage .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.291667vw;
  background: rgba(0, 184, 196, 0.6);
}
.fourPage .bottom .box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.833333vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.145833vw;
  cursor: pointer;
}
.fourPage .bottom .box img {
  width: 1.25vw;
  height: 1.25vw;
  margin-left: 2.708333vw;
  margin-right: 0.885417vw;
}
.fourPage .bottom .box:first-child img {
  margin-left: 0;
}
