* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
.GPU {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
html,
body {
  height: 100%;
}
body {
  font-size: 12px;
  min-width: 1600px;
  min-height: 944px;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(306deg, #2d3037 0%, #171a1f 100%);
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Bold.otf') format('opentype');
}

.header {
  width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  z-index: 3;
}
.header .logo {
  width: 160px;
  height: 28px;
}
.header .btnBox {
  display: flex;
  align-items: center;
}
.header .btnBox .btn {
  cursor: pointer;
  background: #33373f;
  border-radius: 3px;
  padding: 6px 21px;
  margin-left: 26px;
}
.header .btnBox .btn.noBg {
  background: transparent;
  display: none;
}
.header .btnBox .btn:active {
  background: linear-gradient(
    179deg,
    #111315 0%,
    rgba(17, 19, 21, 0) 100%,
    rgba(17, 19, 21, 0) 100%
  );
}
.header .btnBox .btn:active a {
  color: rgba(255, 255, 255, 0.8);
}
.header .btnBox .btn a {
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 17px;
  text-decoration: none;
}
.scrollHiddenBox {
  height: 944px;
}
.main .base {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(306deg, #2d3037 0%, #171a1f 100%);
  perspective: 800px;
}
.main .base .bgLeftSlice {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #1a1d24;
}
.main .base .BigTitle {
  position: absolute;
  right: -50px;
  top: 15px;
  font-size: 320px;
  font-family: DINPro-Black, DINPro;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
  letter-spacing: 10px;
  opacity: 0.1;
  z-index: 1;
}
/* .main .base .anime {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 468px;
  height: 502px;
  overflow: hidden;
  background: url('./images/a1.png') no-repeat center;
  background-size: contain;
} */
#iframeCanvas {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.3s linear;
}
.main .base .scrollTitle {
  position: absolute;
  left: 70px;
  bottom: 170px;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
  opacity: 0.5;
}
.main .base .scrollTitle:after {
  content: '';
  display: inline-block;
  width: 52px;
  height: 1px;
  background: #ffffff;
  margin-left: 14px;
}
.main .scrollBtn {
  position: fixed;
  right: 70px;
  bottom: 52px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.main .scrollBtn .up {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-bottom: 35px;
}
.main .scrollBtn .down {
  cursor: pointer;
  width: 28px;
  height: 28px;
}
.main > .context {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
/* .main > .context > div {
  height: 100%;
} */
.main .onePage .features {
  position: absolute;
  left: 0;
  top: 276px;
  padding: 52px 0 0 70px;
  width: 580px;
}
.main .onePage .features .bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 336px;
  height: 237px;
  background: #2a2d34;
}
.main .onePage .features .title {
  font-size: 42px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 59px;
  letter-spacing: 3px;
}
.main .onePage .features .intro {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  margin-top: 24px;
}
.main .onePage .quick {
  position: absolute;
  right: 0;
  bottom: 231px;
  padding: 52px 70px 0 0;
  width: 580px;
}
.main .onePage .quick .bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 516px;
  height: 224px;
  background: #1a1d24;
}
.main .onePage .quick .title {
  font-size: 42px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 59px;
  letter-spacing: 3px;
}
.main .onePage .quick .intro {
  width: 323px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  margin-top: 11px;
}
.main .onePage .quick .button {
  cursor: pointer;
  margin-left: 52px;
  width: 132px;
  height: 42px;
  background: #00b8c4;
  box-shadow: 0px 2px 17px 0px rgba(17, 19, 21, 1);
  border-radius: 3px;
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoPage {
  position: fixed;
  left: 286px;
  top: 199px;
  width: 800px;
  height: 100%;
  transform: translateY(200%);
  opacity: 0;
}
.twoPage .topTitle {
  font-size: 17px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
}
.twoPage .topLine {
  width: 157px;
  height: 2px;
  background: #ffffff;
  margin-top: 128px;
  opacity: 0.1;
}
.twoPage .bgTitle {
  position: absolute;
  left: -400px;
  top: 10px;
  z-index: -1;
  font-size: 437px;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  line-height: 564px;
  opacity: 0.1;
}
.twoPage .textBox {
  margin-top: 70px;
  position: relative;
}
.twoPage .textBox .number {
  position: absolute;
  left: -110px;
  top: 0;
  z-index: 1;
  font-size: 42px;
  font-family: DINPro-Regular, DINPro;
  font-weight: 400;
  color: #ffffff;
  line-height: 53px;
  letter-spacing: 1px;
}
.twoPage .textBox .title {
  font-size: 42px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 59px;
}
.twoPage .textBox .intro {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  line-height: 24px;
  margin-top: 21px;
}
.twoPage .oneBox {
  transform: translateY(100%);
  opacity: 0;
}
.twoPage .twoBox {
  transform: translateY(100%);
  opacity: 0;
}
.twoPage .threeBox {
  transform: translateY(100%);
  opacity: 0;
}

.threePage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  padding-top: 129px;
  display: flex;
  align-items: center;
  flex-direction: column;
  perspective: 800px;
}
.threePage .bgTitle {
  position: absolute;
  left: 50%;
  top: 47px;
  transform: translateX(-50%);
  font-size: 175px;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  line-height: 225px;
  letter-spacing: 14px;
  opacity: 0.1;
}
.threePage > .title {
  font-size: 42px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 59px;
  letter-spacing: 3px;
  text-align: center;
}
.threePage > .intro {
  width: 619px;
  height: 73px;
  margin-top: 14px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  text-align: center;
}
.threePage .boxList {
  margin-top: 7px;
  display: flex;
  width: 1260px;
  flex-wrap: wrap;
}
.threePage .boxList .box {
  width: 612px;
  height: 245px;
  border-radius: 17px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0.3);
}
.threePage .boxList .box:nth-child(2n) {
  margin-left: 35px;
}
.threePage .boxList .box:hover .bg2 {
  box-shadow: 0px 10px 38px 0px rgba(12, 14, 16, 1);
  animation: bg2Animation 0.2s linear;
  animation-fill-mode: forwards;
}
/* .threePage .boxList .box:hover {
} */
.threePage .boxList .box .bg1 {
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: -1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 17px;
  background: #33373f;
}
.threePage .boxList .box .bg2 {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 17px;
  z-index: -2;
  width: 100%;
  height: 100%;
}
@keyframes bg2Animation {
  10% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  40% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.3),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  60% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.6),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  85% {
    background: linear-gradient(
      145deg,
      rgba(0, 232, 255, 0.8),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  100% {
    background: linear-gradient(
        145deg,
        rgba(0, 232, 255, 1),
        rgba(0, 101, 103, 0.22),
        rgba(0, 101, 103, 0.22)
      ),
      linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.16),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
  }
}
.threePage .boxList .box .title {
  font-size: 21px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 29px;
}
.threePage .boxList .box .intro {
  width: 454px;
  margin-top: 10px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
}

.fourPage {
  transform: translateY(100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}
.fourPage .leftBox {
  width: 547px;
  height: 340px;
  background: linear-gradient(147deg, #41464f 0%, rgba(42, 44, 51, 0) 100%);
  box-shadow: 0px 2px 47px 0px rgba(16, 18, 22, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(90deg);
  opacity: 0;
}
.fourPage .leftBox .title {
  width: 321px;
  height: 59px;
  font-size: 42px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 59px;
  letter-spacing: 3px;
}
.fourPage .leftBox .intro {
  width: 385px;
  height: 98px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  margin-top: 31px;
}
.fourPage .rightBox {
  margin-left: 58px;
  position: relative;
}
.fourPage .rightBox .bgTitle {
  position: absolute;
  left: 0;
  top: -180px;
  z-index: -1;
  font-size: 175px;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  opacity: 0.1;
  line-height: 225px;
  letter-spacing: 14px;
}
.fourPage .rightBox .title {
  font-size: 42px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 59px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 42px;
}
.fourPage .rightBox .intro {
  font-size: 12px;
  width: 722px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  text-align: center;
}
.fourPage .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background: rgba(0, 184, 196, 0.6);
}
.fourPage .bottom .box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
  cursor: pointer;
}
.fourPage .bottom .box img {
  width: 24px;
  height: 24px;
  margin-left: 52px;
  margin-right: 17px;
}
.fourPage .bottom .box:first-child img {
  margin-left: 0;
}
